@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url("../fonts/Pacifico-Regular.woff2") format('woff2'), url("../fonts/Pacifico-Regular.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
    font-family: 'FixedsysExcelsior';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fsex300-webfont.eot');
    src: url('../fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsex300-webfont.woff') format('woff'),
         url('../fonts/fsex300-webfont.ttf') format('truetype'),
         url('../fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

@font-face{
  font-family:'tt-regular';src:url("../fonts/tt-regular-webfont.woff2") format("woff2"),url("../fonts/tt-regular-webfont.woff") format("woff");font-weight:normal;font-style:normal
}
@font-face{
  font-family:'tt-medium';src:url("../fonts/tt-medium-webfont.woff2") format("woff2"),url("../fonts/tt-medium-webfont.woff") format("woff");font-weight:normal;font-style:normal
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url("../fonts/Merriweather-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url("../fonts/Raleway.woff2") format('woff2'), url("../fonts/Raleway-ExtraBold.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url("../fonts/Roboto-Black.woff2") format('woff2'), url("../fonts/Roboto-Black.ttf") format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
