/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  padding: 20px 10px;
}
pre.prettyprint {
  display: block;
  background-color: #333;
  min-width: 500px;
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #ffa0a0;
  /* string  - pink */
}
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
  /* comment - skyblue */
}
pre .typ {
  color: #98fb98;
  /* type    - lightgreen */
}
pre .lit {
  color: #ff6b86;
  /* literal - darkred */
}
pre .pun {
  color: #fff;
  /* punctuation */
}
pre .pln {
  color: #fff;
  /* plaintext */
}
pre .tag {
  color: #f0e68c;
  font-weight: bold;
  /* html/xml tag    - lightyellow */
}
pre .atn {
  color: #bdb76b;
  font-weight: bold;
  /* attribute name  - khaki */
}
pre .atv {
  color: #ffa0a0;
  /* attribute value - pink */
}
pre .dec {
  color: #98fb98;
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
  /* IE indents via margin-left */
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
  /* Alternate shading for lines */
}
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str, code .str {
    color: #060;
  }
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit, code .lit {
    color: #044;
  }
  pre .pun, code .pun {
    color: #440;
  }
  pre .pln, code .pln {
    color: #000;
  }
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn, code .atn {
    color: #404;
  }
  pre .atv, code .atv {
    color: #060;
  }
}



/* let's get arcoholic! Insipired by Tomorrow Night*/

pre{
font-size: 13px;
word-break: break-all;
word-wrap: break-word;
color: #333;
font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* div that contains pre */
.pretainer {
  width: 100%;
  overflow-x: scroll; overflow-y: visible;
  border-radius: 4px;
}
.pretainer pre {
  min-width: 400px;
  border-radius: 4px;
  line-height: 1.25;
}
.nobr {
  line-height: 1.42;
}
.nobr br {
  display: none;
}
.prettyprint {
  display: block;
  background-color: #333;
  /* Specify class=linenums on a pre to get line numbering */
}
.prettyprint p {
  margin: 0;
}
.prettyprint .nocode {
  background-color: none;
  color: #000;
}
.prettyprint .str {
  color: #ffa0a0;
  /* string  - pink */
}
.prettyprint .kwd {
  color: #fbc988;
  font-weight: bold;
}
.prettyprint .com {
  color: #87ceeb;
  /* comment - skyblue */
}
.prettyprint .typ {
  color: #98fb98;
  /* type    - lightgreen */
}
.prettyprint .lit {
  color: #ff6b86;
  /* literal - darkred */
}
.prettyprint .pun {
  color: #e6d7cb;
  /* punctuation */
}
.prettyprint .pln {
  color: #fff;
  /* plaintext */
}
.prettyprint .tag {
  color: #e6c2a4;
  font-weight: bold;
  /* html/xml tag    - lightyellow */
}
.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
  /* attribute name  - khaki */
}
.prettyprint .atv {
  color: #ffa0a0;
  /* attribute value - pink */
}
.prettyprint .dec {
  color: #98fb98;
  /* decimal         - lightgreen */
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
  /* IE indents via margin-left */
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
  /* Alternate shading for lines */
}
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str, code .str {
    color: #060;
  }
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit, code .lit {
    color: #044;
  }
  pre .pun, code .pun {
    color: #440;
  }
  pre .pln, code .pln {
    color: #000;
  }
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn, code .atn {
    color: #404;
  }
  pre .atv, code .atv {
    color: #060;
  }
}
code {
  font-family: "Courier New", Courier, monospace;
  color: #0ecdc4;
  background-color: #f2f2f2;
  font-size: 0.8em;
}
