<div class="ArchyItem">
    $if(noURL)$
    $if(isArtworkInfo)$
      <a target="_blank" href="https://www.wikiart.org/en/Search/$title$%20$subtitle$">
    $endif$
    $else$
  <a href="$if(customForwardUrl)$$customForwardUrl$$else$$url$$endif$"
    $if(newTab)$ target="_blank" $endif$
  >
  $endif$
     $if(coverPainting)$
     <img class="ArchyItemImg" src="/img/covers/$coverPainting$.jpg"/>
     $else$
     $if(filmName)$
     <img class="ArchyItemImg" src="/img/films/$filmName$.jpg"/>
     $else$
     <img class="ArchyItemImg" src="$displayImg$"/>
     $endif$
     $endif$
     $if(noURL)$
     $if(isArtworkInfo)$
    </a>
     $endif$
     $else$
  </a>
    $endif$
  <div class="ArchyItemTitle">
      $if(noURL)$
      $if(isArtworkInfo)$
        <a target="_blank" href="https://www.wikiart.org/en/Search/$title$%20$subtitle$">
            $title$ ($year$)
        </a>
      $else$
      $title$
      $endif$
      $else$
    <a href="$if(customForwardUrl)$$customForwardUrl$$else$$url$$endif$"
    $if(newTab)$ target="_blank" $endif$
    >$title$</a>
    $endif$
  </div>
  $if(subtitle)$
  <div class="ArchyItemSubtitle">
    $subtitle$
  </div>
  $else$
  $if(hideDate)$
  $else$
  <div class="ArchyItemDate">
    $date$
  </div>
  $endif$
  $endif$
</div>
