<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="/css/bootstrap.4.0.0-beta3.min.css" />
<link href="/css/ionicons.2.0.1.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/fonts.css" rel="stylesheet">
<title> $title$ | Zer0 Degree</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?class=UA-112409544-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112409544-1');
</script>
<script src="/js/main.js"></script>
  </head>
  <body><div id="body-wrapper"><div id="body">
    <div class="cover-image">
    <img class="show-iff-nonmobile" src="/img/backgrounds/willian-justen-de-vasconcellos-430007.jpg" />
    <img class="show-iff-mobile" src="/img/backgrounds/willian-justen-de-vasconcellos-430007-full.jpg" />
    <div class="cover-image-text-wrapper">
    <div class="cover-image-text">
      <h1 class="zeroDegreeLogo centerFlex">
        <div><a href="/">Zer0<br/>Degree</a></div><div><sup class="degreeDot">o</sup><br/>&nbsp;</div>
      </h1>

      <div class="zeroDegreeNameAndDescription show-if-not-smaller-than-mobile-device-large" style="margin-left:20px">
      <h2 class="zeroDegreeName">
        The Website of <br/><a href="/about">Archy Wilhes 魏何</a>
        <a target="_blank" href="http://twitter.com/archywilhes"><i class="social-icon ion-social-twitter"></i></a>
        <a target="_blank" href="http://github.com/archywilhes"><i class="social-icon ion-social-octocat"></i></a>
        <a target="_blank" href="http://instagram.com/archywilhes"><i class="social-icon ion-social-instagram"></i></a>
        <a target="_blank" href="http://archy.sh"><i class="social-icon ion-erlenmeyer-flask"></i></a>
      </h2>
      <div class="zeroDegreeDescription">a comp sci fanatic in his early twenties doing start-up stuff<br/>
        (since the age of sixteen) instead of going to univ</div>
      </div>
    </div>
    <h2 class="stayCool thickRaleway show-if-not-smaller-than-mobile-device-large">
      Stay cool.
    </h2>
    <h3 class="stayCool thickRaleway show-if-smaller-than-mobile-device-large ipadDescription">
      The Website of<br/> Archy Wilhes 魏何
  </h3>
  <h2 class="stayCool thickRaleway show-iff-mobile iPhoneMenu">
    About
  </h2>
    </div>
  </div>

  $body$
  <div class="cover-image">
  <img class="show-iff-nonmobile" src="/img/backgrounds/maarten-van-den-heuvel-346883.jpg" />
  <img class="show-iff-mobile" src="/img/backgrounds/maarten-van-den-heuvel-346883-full.jpg" />

  <div class="whiteOverlay"></div>
  <div class="cover-image-text-wrapper">
  <div class="cover-image-text">
    <h1 class="zeroDegreeLogo centerFlex show-iff-nonmobile">
      <div>Zer0<br/>Degree</div><div><sup class="degreeDot">o</sup><br/>&nbsp;</div>
    </h1>
    <div class="show-iff-mobile">
    <div class="centerFlex footer-info-block">
        <div>
        <h3>A Website of Archy Wilhes 魏何<br/>
            Handcrafted by Archy Wilhes 魏何
        </h3>
        <h1>
            <a target="_blank" href="http://twitter.com/archywilhes"><i class="social-icon ion-social-twitter"></i></a>
            <a target="_blank" href="http://github.com/archywilhes"><i class="social-icon ion-social-octocat"></i></a>
            <a target="_blank" href="http://instagram.com/archywilhes"><i class="social-icon ion-social-instagram"></i></a>
            <a target="_blank" href="http://archy.sh"><i class="social-icon ion-erlenmeyer-flask"></i></a>
        </h1>
        </div>
</div>
</div>
    <div class="zeroDegreeNameAndDescription show-iff-nonmobile" style="margin-left:20px">
    <h3 class="zeroDegreeName">
      Handcarfted by Archy Wilhes 魏何<br />
      <a style="margin-left:7px" href="https://github.com/archywilhes/zer0.degree">
          <small>vi3w_s0urce <i class="ion-beer"></i></small>
      </a>
  </h3>
    <div class="zeroDegreeDescription">
        Frontend consists of vanilla JS, CSS & HTML with <a href="https://v4-alpha.getbootstrap.com/">Bootstrap</a>  <br />
         Backend written exclusively in Haskell using <a href="https://jaspervdj.be/hakyll/">Hakyll <i class="ion-heart"></a></i>
    </div>
    </div>
  </div>
  <h2 class="stayCool thickRaleway" style="color:rgba(0,0,0,0.9)">
        See you around.
  </h2>
  </div>
  </div>


</div></div></body>
</html>
