<div class="cover-image $if(isBlog)$$else$cover-image-short$endif$">

  <img class="hide-if-smaller-than-mobile-device-large" src="/img/backgrounds/ian-espinosa-311604-unsplash.jpg" />
  <img class="show-if-smaller-than-mobile-device-large-and-hide-if-smaller-than-mobile-device-regular" src="/img/backgrounds/ian-espinosa-311604-unsplash.jpg" />
  <img class="show-if-smaller-than-mobile-device-regular" src="/img/backgrounds/ian-espinosa-311604-unsplash-mobile.jpg" />

  <!-- <div style="" class="whiteOverlay2 hide-if-smaller-than-mobile-device-large"></div> -->
  <div class="cover-image-text-wrapper">
    <div class="cover-image-text">
      <h1 class="zeroDegreeLogo centerFlex">
        <div>
          <a href="/">&nbsp;&nbsp;</a>
        </div>
        <div class="description show-if-smaller-than-mobile-device-large">
          <!-- <a href="/">0a.io</a>$if(isPReview)$<a href="/pretentious-reviews.html">: Pretentious Reviews</a>$endif$ -->
        </div>
      </h1>

      <div class="zeroDegreeNameAndDescription hide-if-smaller-than-mobile-device-large-but-flex" style="margin-left:20px">
        <h2 class="zeroDegreeName">
          <a href="/">0a.io</a>
          <!-- $if(isPReview)$<a href="/pretentious-reviews.html">: Pretentious Reviews</a>$endif$ -->
          $if(isMusicForWork)$<a href="/music-for-work.html">: Music for Work</a>$endif$$if(isArtworkInfo)$<a href="/artwork-info.html">: Artwork Info</a>$endif$
          <br />
          <a target="_blank" href="https://lo.fish"><i style="margin-right:1px;" class="social-icon ion-erlenmeyer-flask"></i></a>
          <a target="_blank" href="https://mailing-list.xn--nqr.xn--fiqs8s/0a.io"><i class="social-icon ion-social-rss"></i></a>
          <!-- <a target="_blank" href="https://arxiv.org/search/?query=Wilhes%2C+Archy&searchtype=author&order=-announced_date_first&size=50"><i class="social-icon ion-ios-paper"></i></a> -->
          <!-- <a target="_blank" href="https://castella.art"><i class="social-icon ion-erlenmeyer-flask"></i></a> -->
          <!-- <a target="_blank" href="https://twitter.com/archywillhe"><i class="social-icon ion-social-twitter"></i></a> -->
          <!-- <a target="_blank" href="https://castella.art"><i class="social-icon ion-erlenmeyer-flask"></i></a> -->
          <a href="/about.html"><small style="font-size: 50%; margin-left:3px;top:-1px;position:relative">ABOUT</small></a>
        </h2>
        <div class="zeroDegreeDescription"> <br /> </div>
      </div>
    </div>
    <h2 class="stayCool thickRaleway hide-if-smaller-than-mobile-device-large">

    </h2>
    <h3 class="stayCool thickRaleway show-iff-mobile-device-large">
      <a href="/about.html">About</a>
      <span style="font-size:1.5em;margin-left:10px">
        <a target="_blank" href="https://mailing-list.xn--nqr.xn--fiqs8s/0a.io"><i class="social-icon ion-social-rss"></i></a>
      </span>
    </h3>
    <h2 class="stayCool thickRaleway show-if-smaller-than-mobile-device-medium">
      <a href="/about-0a.html">About</a>
      <span style="font-size:1.5em;margin-left:10px">
        <a target="_blank" href="https://mailing-list.xn--nqr.xn--fiqs8s/0a.io"><i class="social-icon ion-social-rss"></i></a>
      </span>
    </h2>
  </div>
</div>








<div class="cover-image">
  <img style="position:absolute;bottom:0" class="hide-if-smaller-than-mobile-device-regular" src="/img/backgrounds/irina-568205-unsplash.jpg" />
  <img class="show-if-smaller-than-mobile-device-regular" src="/img/backgrounds/irina-568205-unsplash-mobile.jpg" />

  <div class="cover-image-text-wrapper">
    <div class="cover-image-text">
      <h1 class="zeroDegreeLogo centerFlex hide-if-smaller-than-mobile-device-regular-but-flex" style="background:none">
      </h1>
      <div class="show-if-smaller-than-mobile-device-regular">
        <div class="centerFlex footer-info-block">
          <div>
            <h5 class="hide-if-smaller-than-mobile-device-small">
              <br />
              <br><br>
            </h5>
            <h5 class="show-if-smaller-than-mobile-device-small">
              <br><br>

            </h5>
            <h3>
              <!-- <a target="_blank" href="https://castella.art"><i class="social-icon ion-erlenmeyer-flask"></i></a> -->
              <a target="_blank" href="https://lo.fish/"><i class="social-icon ion-erlenmeyer-flask"></i></a>
              <a target="_blank" href="http://github.com/archywillhe/0a.io"><i class="social-icon ion-social-github"></i></a>


            </h3>
          </div>
        </div>
      </div>
      <div class="zeroDegreeNameAndDescription hide-if-smaller-than-mobile-device-regular-but-flex" style="margin-left:20px">
        <h3 class="zeroDegreeName" style="color:#fff">
          <small>0a.io is handcrafted by Archy <i style="position:absolute; left:4200px ">archywilhes Will He</i></small> <br />
          <small><a href="https://github.com/archywillhe/0a.io">vi3w_s0urce (Haskell on Hakyll) <i class="ion-beer"></i></a></small>
        </h3>
        <div class="zeroDegreeDescription">
          <br>
          <br>

        </div>
      </div>
    </div>
    <h2 class="stayCool thickRaleway" style="color:#fff;">
      <a href="https://0a.io/about.html">
        about
      </a>
      </h3>
  </div>
</div>