<div>
  <h2 class="thickRaleway menu hide-if-smaller-than-mobile-device-regular">
     <!-- <a href="/"class="menu-item $if(isTech)$menu-item-selected$endif$">Tech</a> -->
    <a href="/"class="menu-item $if(isBlog)$menu-item-selected$endif$">Blog Posts</a>
    <a href="/film-night.html"class="menu-item $if(isFilmNight)$menu-item-selected$endif$">Film Night</a>
    <a href="/music-for-work.html" class="menu-item $if(isMusicForWork)$menu-item-selected$endif$">Music for Work</a>
    <a href="/artwork-info.html"class="edge-case-to-be-hidden menu-item $if(isArtworkInfo)$menu-item-selected$endif$">Artwork Info</a>
</h2>
<h3 class="thickRaleway menu show-if-smaller-than-mobile-device-regular">
        <a href="/"class="menu-item $if(isBlog)$menu-item-selected$endif$">Blog Posts</a>
    <a href="/film-night.html"class="menu-item $if(isFilmNight)$menu-item-selected$endif$">Film Night</a>
        <a href="/music-for-work.html" class="menu-item $if(isMusicForWork)$menu-item-selected$endif$">Music for Work</a>
</h3>
</div>
$body$
$if(isMusicForWork)$
<script src="/js/music-for-work.js">
</script>
$endif$
