
$if(customForwardUrl)$
<script>
window.location = window.location.hostname + "$customForwardUrl$"
</script>
$else$
<div class="show-if-smaller-than-mobile-device-large post-front-cover-for-mobile">
    $if(filmName)$
    <img src="/img/covers/Burring Brook, XIX-XX cent., Laszlo Mednyanszky.jpg"/>
    $else$
    $if(coverPainting)$
        <img src="/img/covers/$coverPainting$.jpg"/>
    $else$
    $if(filmName)$
        <img src="/img/films/$filmName$.jpg"/>
    $else$
    $if(coverImg)$
        <img src="$coverImg$"/>
    $endif$
    $endif$
    $endif$
    $endif$
    <div class="dark-overlay">
    </div>
</div>
<input type="text" value="https://0a.io$url$" id="currrentLink" />
 <h2 class="thickRaleway menu truns-white-if-smaller-than-mobile-device-large">
     <a href="javascript:window.copyCurrentURL();" class="menu-item">Copy Link</a>
     $if(filmName)$
     <a href="/pretentious-reviews.html" class="menu-item">More Pretentious Reviews</a>
     $else$
     <a href="/" class="menu-item">Back to Home Page</a>
     $endif$
</h2>

<div class="container content">
<article style="$if(width)$max-width:$width$px;$endif$ $if(isPReview)$filmNight$endif$">
    <div class="coverPainting">
    $if(coverPainting)$
        <img src="/img/covers/$coverPainting$.jpg"/>
          <div class="thickRaleway paintingInfoContainer">
              <!-- <span class="hide-if-smaller-than-mobile-device-large">Featuring</span> -->
              <a target="_blank" href="$paintingUrl$" class="paintingInfo">
                  $paintingTitle$ ($paintingYear$)
                  by
                  $paintingArtistName$
              </a>
          </div>
    $else$
    $if(filmName)$
        <img src="/img/films/$filmName$.jpg"/>
    $else$
    $if(coverImg)$
        <img src="$coverImg$"/>
    $endif$
    $endif$
    $endif$
    </div>
    <div class="everythingElse">
        $if(filmName)$
        $else$
        <div class="info">
            <span class="date">$date$</span>
            $if(readingTime)$
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="readingTime"  >$readingTime$ read</span>
            $endif$
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        $endif$
        <!-- <h4 class="date">
        <span class="datee">$date$</span>
        </h4> -->
        <h2 class="title">
            $title$
        </h2>
        <span class="author">
        by <a href="https://0a.io/about.html">Archy Will He</a>
        </span>
        <div class="text">
            $body$
        </div>
    </div>
</article>
$if(filmName)$
$else$
<!-- <blockquote id="scale-up-center" >
    <span class="helloo">Archy Will He: Hey there! Thanks for reading! Hit me up at a@0a.io if you enjoy this piece and/or would like to give me some suggesitons on stuff, etc! Thanks! :))</span>
</blockquote>
<script>
    window.addEventListener('load', function() {
    var toPopDOM = document.getElementById("scale-up-center")
    toPopDOM.className = "scale-up-center"
    var popItUp = function(e) {
        var currentBTM = (window.scrollY+window.innerHeight)
        var triggeringPoint =  (document.getElementsByTagName("body")[0].offsetHeight - 526)
        if(currentBTM > triggeringPoint){
            window.removeEventListener('scroll', popItUp)
            toPopDOM.className = "scale-up-center scale-up-center-animates-desu"
        }
    }
    window.addEventListener('scroll', popItUp)
})
</script> -->
$endif$
</div>
<div>
  <h2 class="thickRaleway menu-bottom">

</h2>
</div>
$endif$
