<div class="hide-if-smaller-than-mobile-device-regular">
<div class="row">
    <div class="third">
      $for(row0)$
        $partial("templates/archy-item.html")$
      $endfor$
    </div>
    <div class="third">
      $for(row1)$
        $partial("templates/archy-item.html")$
      $endfor$
    </div>
    <div class="third">
      $for(row2)$
        $partial("templates/archy-item.html")$
      $endfor$
    </div>
</div>
</div>
<div class="show-if-smaller-than-mobile-device-regular">
    $for(everything)$
      $partial("templates/archy-item.html")$
    $endfor$
</div>
